.widgetcard{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6rem;
    flex: 1;
    padding: 0 1rem;
    border-radius: 4px;
    &__left{
        font-weight: bold;
        font-size: 2rem;
    }
    &__right{
        color: white;
        font-weight: bold;
        font-size: 2rem;
    }
}