.navbar{
    background-color: white;
    height: 4rem;
    padding: 0 0.5rem;
    display: flex;
    justify-content: space-between;
    &__logoContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.3rem;
        color: grey;
        padding: 1rem 0;
        cursor: pointer;
        h3{
            font-size: 1rem;
        }
        img{
            width: 4rem;
        }
    }
    &__icons{
        width: 10%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .icon-container{
            position: relative;
            .icon{
                color: grey;
                font-size: 1.9rem;
            }
            span{
                background-color: red;
                color: white;
                border-radius: 100%;
                width: 17px;
                height: 17px;
                top: 0;
                right: 0;
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}