.loginpage{
    background-color: rgb(227, 225, 238);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    &__container{
        background-color: white;
        width: 20rem;
        padding: 3rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 9px 9px 5px 0px rgba(212,212,212,0.75);
        -webkit-box-shadow: 9px 9px 5px 0px rgba(212,212,212,0.75);
        -moz-box-shadow: 9px 9px 5px 0px rgba(212,212,212,0.75);
    }
    form{
        display: flex;
        flex-direction: column;
        .form-group{
            margin-top: 1rem;
            label{
                font-weight: bold;
                font-size: 14px;
            }
            div{
                margin-top: 10px;
                display: flex;
                gap: 1rem;
                border: 2px solid rgb(180, 180, 180);
                padding: 0.5rem 0.5rem;
                border-radius: 5px;
                input{
                    outline: none;
                    border: none;
                    background: transparent;
                    &:focus{
                        outline: none;
                        background: none;
                    }
                    
                }
                .icon{
                    color:grey;
                    font-size: 1rem;
                }
            }
            .error-message{
                color: red;
                font-size: 12px;
                margin: 5px 5px;
            }
        }

        .forget-password{
            font-size: 0.8rem;
            color: blue;
            font-weight: bold;
            align-self: flex-end;
            margin: 1rem 0;
            cursor: pointer;
        }
        button{
            background-color: rgb(28, 28, 243);
            color: white;
            border: none;
            border-radius: 1rem;
            padding: 0.6rem 0;
            cursor: pointer;
            font-weight: bold;
            &:hover{
                opacity: 0.8;
            }
        }
    }
}