.sidebar{
    flex: 2;
    height: 100vh;
    border-right: 1px solid grey;
    background-color: black;
    position: sticky;
    overflow-y: scroll;
    top: 0;
    hr{
        height: 1px;
        background-color: grey;
        border: none;
    }
    &__nav{
        margin-top: 0.5rem;
        ul{
            margin: 0 0.5rem;
            padding: 0;
            li{
                color: white;
                padding: 0.5rem 1rem;
                display: flex;
                gap: 0.5rem;
                cursor: pointer;
                font-weight: bold;
            
                &:hover{
                    background-color: white;
                    color: black;
                    .icon{
                        color: red;
                    }
                }
                .icon{
                    color: white;
                }
            }
        }
    }
}